.toast{
    font-family: "inter",sans-serif;
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    background-color:#703274;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 40px;
    z-index: 100;

}
.toast svg{
    
    font-size: 26px;
    color: #fff;

}